/**************************************************************************************/
/* 
* 각 캐릭터(설정)
*/

#character_container { 
    position: absolute;            
}
#character_container .bs {
    position: absolute;  
    text-align: center;   
    /* width: 100%; */
    /* bottom: 0px;     */
}
#character_container .advice { 
    position: absolute;  
    width: 50%;          
}

/* dumi */
#dumi_story { top:450px; left:650px; }
#dumi_story_talk { top:450px; left:650px; }

